@import './var.scss';
// *{
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   box-sizing: border-box;
// }
html{box-sizing: border-box;height: 100%;}
body, #app{height: 100%;}
*{box-sizing: inherit;}
html,body{height: 100%;}

// element-ui

// .el-menu {
//   background-color: $bgColorBlack;
//   border-right: 0;
// }

.el-table th{
  background: #fafafa!important;
}
.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}
.m24{
  margin: 24px;
}