@import './var.scss';

html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Source Han Sans CN';
}
body,
#app {
  height: 100%;
}
* {
  box-sizing: inherit;
  font-family: inherit;
}
ul,
li {
  list-style: none;
}

// element-ui

// .el-menu {
//   background-color: $bgColorBlack;
//   border-right: 0;
// }

.el-message {
  z-index: 99999 !important;
}

.el-input__count {
  bottom: 1px !important;
  line-height: 20px;
}

.el-table th {
  background: #fafafa !important;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.m24 {
  margin: 24px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-red {
  color: $supRed;
}
.text-green {
  color: $green;
}
.text-yellow {
  color: $supYellow;
}
.text-blue {
  color: $blue;
}
