
// 背景色
$bgColorBlack: #1c1e26;
$bgColor: #f6f6f6;

// 字体颜色
$fontColorWhite: #fff;
$fontColorGray: #666;
$fontColorBlack: #333;
$fontColorRed: #ff5858;
$fontColorLink:#4388ff;

.marginT20{
  margin-top: 20px;
}